.hero-container {
  width: 100%;
  height: 50vh;
  background-color: #ffdd00;
  background-image: url("/public/rodion-kutsaiev-F573ZRbKOEw-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-heading {
  font-size: 2.8rem;
  letter-spacing: -1.5%;
}

.hero-subheading {
  font-size: 2.2rem;
  font-weight: 900;
  color: var(--grey-font);
}

@media screen and (min-width: 600px) {
  .hero-heading {
    font-size: 3.3rem;
  }

  .hero-subheading {
    font-size: 2.7rem;
  }
}

@media screen and (min-width: 1000px) {
  .hero-heading {
    font-size: 4rem;
  }

  .hero-subheading {
    font-size: 3rem;
  }
}
