.to-portfolio-container {
  border: 3px var(--turquoise) solid;
  font-weight: 400;
}

.to-contact-container {
  border: 3px var(--orange) solid;
  font-weight: 400;
}

.start-teaser-container {
  border: 5px var(--yellow) solid;
  letter-spacing: -2%;
  font-family: var(--commissioner-font);
  font-size: 1.8rem;
  font-weight: 900;
}

.link {
  color: var(--grey-font);
  border: 1px grey solid;
}

.teaser-link {
  text-decoration: none;
  color: var(--dark-blue);
}
