.to-portfolio-container,
.to-contact-container,
.start-teaser-container,
.to-tips-container {
  letter-spacing: -3%;
  font-family: var(--commissioner-font);
  color: white;
  border: 1px lightgray solid;
}

.start-teaser-container p {
  font-weight: 900;
  font-size: 1.5rem;
}

.to-portfolio-container p,
.to-contact-container p,
.to-tips-container p {
  font-weight: 800;
}

.to-tips-container {
  background-color: var(--orange);
}

.to-contact-container {
  background-color: var(--yellow);
}

.start-teaser-container {
  background-color: var(--turquoise);
}
