.to-portfolio-container {
  border: 3px var(--dark-blue) solid;
  font-weight: 400;
}

.to-contact-container {
  border: 3px var(--lavender) solid;
  font-weight: 400;
}

.start-teaser-container {
  border: 3px var(--lighter-blue) solid;
  letter-spacing: -2%;
  font-family: var(--commissioner-font);
  font-size: 1.8rem;
  font-weight: 900;
}

.link {
  text-decoration: none;
  color: var(--grey-font);
}

.teaser-link {
  text-decoration: none;
  color: var(--dark-blue);
}
