.random-color-btn {
  background-color: var(--orange);
}
.color-color-btn {
  background-color: var(--yellow);
}

.palette-btn {
  background-color: var(--lavender);
}

.contrast-btn {
  background-color: lightgray;
}

.font-btn {
  background-color: var(--yellow);
}

.word-btn {
  background-color: var(--turquoise);
}

.tools-btn-text {
  color: var(--grey-font);
}

.color-container,
.color-category-container {
  width: 100%;
  max-width: 400px;
  cursor: pointer;
}

.color-container {
  height: 200px;
}

.color-category-container {
  height: 150px;
}
