.contact-form-container {
  width: 100%;
}

.about-title {
  color: var(--turquoise);
}

.form-border {
  border: 3px var(--turquoise) solid;
}

.color-btn {
  background-color: var(--orange);
}

.palette-btn {
  background-color: var(--lavender);
}

.font-btn {
  background-color: var(--yellow);
}

.word-btn {
  background-color: var(--turquoise);
}

.generator-btn-text {
  color: var(--grey-font);
}

.color-container {
  width: 100%;
  max-width: 400px;
  height: 200px;
  cursor: pointer;
}

.tools-btn,
.tips-btn {
  width: 200px;
  font-family: var(--commissioner-font);
  color: white;
  font-weight: 900;
  font-size: 2rem;
}

.tools-btn {
  background-color: var(--turquoise);
}

.tips-btn {
  background-color: var(--orange);
}

@media screen and (min-width: 600px) {
  .contact-form-container {
    width: 85%;
  }

  .tips-btn,
  .tools-btn {
    width: 350px;
  }
}

@media screen and (min-width: 1100px) {
  .contact-form-container {
    width: 70%;
  }
}
