.contact-form-container {
  width: 100%;
}

.form-border {
  border: 3px var(--turquoise) solid;
}

@media screen and (min-width: 600px) {
  .contact-form-container {
    width: 85%;
  }
}

@media screen and (min-width: 1100px) {
  .contact-form-container {
    width: 70%;
  }
}
