@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --inter-font: "Inter", sans-serif;
  --commissioner-font: "Commissioner", sans-serif;

  --grey-font: #3d3d3d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--inter-font);
  background-color: white;
  color: var(--grey-font);
}

h1,
h2,
h3,
h4 {
  font-family: var(--commissioner-font);
}

h2 {
  letter-spacing: -2%;
  font-size: 2.8rem;
  font-weight: 800;
}

h1 {
  letter-spacing: -5%;
  font-weight: 900;
  font-size: 3rem;
}
